# I NUMPY AND PANDAS

## 1. SERIES

In [ ]:
# Import thư viện

import numpy as np
import pandas as pd

In [ ]:
s1 = pd.Series([25,26,np.NaN])
# no index: start 0 ->..
s2 = pd.Series([25,26,np.NaN], index = [1,2,3])
# index: following to declare
# dtype: float64, 
print(s1)
print('Số phần tử (khác null):',s1.count())
#print("Sum:", s2.sum())
#print("Mean:", s2.mean())
#print("Median:",s2.median()) 
print("Mode:\n",s2.mode() )
#print("Std:", s2.std()) 
print(s2.values)
print("Min:",s2.min())
print("Max:",s2.max())
print("Abs:",s2.abs())
print("Prod:",s2.prod()) 
print("Cumsum:\n",s2.cumsum())
print("Cumprod: \n",s2.cumprod())
print("Describe percentile: \n",s2.describe())
print("Mapping math: \n",s2.map(lambda x:x*x))
# 1. extract elements
s2[0] 
s2[1:2] 
# 2. update elements
s2[0] = 'e'
# 3. drop elements
s2 = s2.drop(1)
s2_drop = s2.drop([1,2])
# 4. index
s2.axes
# 5. type of elements
s2.dtype
# 6. check empty
s2.empty
# 7. dimension of series
s2.ndim
# 8. Size of series
s2.size
# 9. shape of series
s2.shape
# 10. values of series 
s2.values

In [ ]:
s2.values

## 2. DATA FRAME

In [ ]:
# A.Tạo dataframe từ list

df1=pd.DataFrame(['1','2','3'])
df1

df1=pd.DataFrame([['An','19'],['Hoa',25]])
df1

df1=pd.DataFrame([['An','19'],['Hoa',25]],columns=['Ten','Tuoi'])
df1

# B.Tạo dataframe từ list dictionary

df2 = pd.DataFrame([{'Ten':'An','Tuoi':19},{'Ten':'Hoa','Tuoi':25}])
print(df2)

df2 = pd.DataFrame({'Ten':['An','Hoa'],'Tuoi':[19,25]})
print(df2)

df2 = pd.DataFrame({'Ten':['An','Hoa','Trung'],'Tuoi':[19,25,30]}) 
print(df2)

df2 = pd.DataFrame([{'Ten':'An','Tuoi':19},{'Ten':'Hoa','Tuoi':25},{'Ten': 'Trung'}])
print(df2)

# C. Tạo data frame từ list dictionary 
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
# 2 cột, tên cột là tên key của dictionary
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

# D. 2 cột, tên một cột là tên key của dictionary, tên một cột khác
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1)
print(df2)

# E.Tạo dataframe từ dictionary series

data={'Ten':pd.Series(['Hoa','An','Trung']), 'Tuoi':pd.Series([19,25,40])}
df3 = pd.DataFrame(data)

print(df3)
print(df3.dtypes)

# F.Create a DataFrame from Dict of Series
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
      'three' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
    }

df5 = pd.DataFrame(d, columns = ['one', 'two', 'three'])
df5

In [ ]:
data={'Ten':pd.Series(['Hoa','An','Trung']), 'Tuoi':pd.Series([19,25,40])}
df3 = pd.DataFrame(data)

print(df3)
print(df3.dtypes)
type(df3) # type  df3 : series or dataframe ...

In [ ]:
# ---------------------------------------- columns ----------------------------------------

# 1. Rename columns
df3.columns=['Tên', 'Tuổi']
df3
---- other ways
df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
# Or rename the existing DataFrame (rather than creating a copy) 
df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

# 2. Get data by columns 
df3['ten']

# 3. Add more columns

df3['gender'] = ....

# 4. del columns
del df3['gender']
df3

--- pop
c = df3.pop('gender') --- pop out column 'four'
df3.pop('four')

-- update columns
df3['gender'] = c

# 5. get name of columns

df3.columns


# ---------------------------------------- row ----------------------------------------

# 1. get data by row

# A. index with str:

df3.loc[1] # also use number
# ---- if index a,b
df3.loc['a'] 
df4.loc['b','four']#--- specific data [row, col]
df3.[['a','b']] 

# B. index with number:

df3.iloc[1] #-- only for number
df4.iloc[1,3] #--- specific data [row, col]

# C. specific data and update data:
df4.loc['c', 'four'] =29 # row, columns

# 2. get data with conditions

df4.loc[df4['four']>20] # all values with col 'four' >20
df4[df4['four']>20]# all values with col 'four' >20
df4.loc[df4['four']>20, 'three'] #select col 'three' all values with col 'four' >20 

# 3. Reset index and set index
df2 = df2.reset_index()
df2.reset_index(inplace=True)
df2 = df2.set_index('Ten')
df2.set_index(['Ten','Tuoi'], inplace=True)

# 4. append data with data the same columns
df2 = df2.append(df2b, ignore_index=True) # index will be continue to append data ignore index of data append

# 5. drop data among row:
df2 = df2.drop([3,4]) # index
#df2.drop([3,4], inplace=True)
df2.drop(df2.index[[3,4]])

# 6. sort_index & and sort_value:

df2.sort_index(ascending=False)
df2.sort_values(by='Ten', ascending=False)

# 7. Ranking:

df2.rank(ascending=False) # default true

# 8. infor():
df4.info()


# 9. any/ all check element true false:

df4.any() # 0: FALSE , other: TRUE if one of these are 1,2 dif 0 then TRUE else FALSE
df4.all() # 0: FALSE , other: TRUE if one of both are 1,2 dif 0 then TRUE else TRUE

# 10. Math calculate:
df4.sum(axis=1) # by row
df4.sum(axis=0) # by col

# 11. Describe:

df4.describe() # just show has value 
df4.describe(include='all') # show all include nan


# 12. dataframe in list:

lst = {'Ten':['Tom', 'Jenny', 'Jack'], 'Tuoi': [15, 21, 18], 'HeSo': [1.5, 2.0, 1.8], 'Phai':['Nam','Nu','Nam']}
df2 = pd.DataFrame(lst)
df2
lst.append(df2)

## 3. READ FILE AND VISUALIZE DATA

In [ ]:
# 1. file csv

df = pd.read_csv('Data/daily_weather.csv', nrows=5, index_col=0)
# ====== note ======

#index_col=0: use first col for index
# sep ="," : phan cach
# nrows = ..: so luong cot
# header = None : khong co header
# use_cols = [] : muon lay cot nao
# encoding = 'utf-8' : co dau

# export
df2.to_csv('data/my_data.csv', header=None, index=False)

# ====== note ======

#index = False : no index
# sep ="," : phan cach
# na_rep ='': thay the null bang ''
# header = None : khong co header
# use_cols = [] : muon lay cot nao
# encoding = 'utf-8' : co dau
# mode = 'w': ghi de ,...


# 2. file excel
pip install xlrd

df3 = pd.read_excel('data/danh_sach_nhan_vien.xlsx', sheet_name='Sheet2')

# ====== note ======

#index_col=0: use first col for index
# sep ="," : phan cach
# nrows = ..: so luong cot
# header = None : khong co header
# use_cols = [] : muon lay cot nao
# encoding = 'utf-8' : co dau
# sheet_name: sheet nao

# other way 

f = pd.ExcelFile('data/danh_sach_nhan_vien.xlsx')

df3b = pd.read_excel(f, 'Sheet2')
df3b

#-- export 

df3.to_excel('data/danh_sach_nhan_vien2.xlsx', 'nhanvien')

### DATA PROCESSING

In [ ]:
# 1. split - > results list in dataframe, series

    kq = df1['diachi'].str.split(' ')

# 2. use contain

    df1['diachi'].str.contains('Nguyen Van Cu')
    # results will be TRUE if row contain text else FALSE
    df1[df1['diachi'].str.contains('Nguyen Van Cu')]
    # results get row contain text above

# 3. use replace 

    # a. cach 1
    df1['diachi'] = df1['diachi'].str.replace('Nguyen', 'Nguyễn')
    # note : only replace col

    # b. cach 2
    df2 = df2.replace(2, 22)
    # note : replace all
    # c. cach 3
    df2.replace(2, 22, inplace=True)
    # note : replace all

    # more example 
    df3['phai'] = df3['phai'].str.replace('Nam','Male')
    df3['phai'].replace('Nam','Male', inplace=True)

# 4. extract

    kq = df2['diachi'].str.extract('([0-9]{1,})', expand=True)
    # expand default True : If True, return DataFrame with one column per capture group. 
    # ---> If False, return a Series/Index if there is one capture group or DataFrame if there are multiple capture groups.

# 5. fillna

    df2['two'].fillna(method='ffill', inplace=True)

    df2['one'].fillna(method='backfill', inplace=True)
    # example
    round(df2['three'].mean(),2) # --> results 8.67
    df2['three'].fillna(round(df2['three'].mean(),2))
    df2['one'].fillna(round(df2['one'].mean(),2))
    # 2 col with dif value replace
    df2.fillna(value={'one': round(df2['one'].mean(),2), 'three': round(df2['three'].mean(),2)})
    
# 6 .drop 

    df2.dropna(axis=0) # 0 : drop na col
    df2.dropna(axis=1) # 1 : drop na row
    
# 7. duplicated
    
    # check dup
    df4.duplicated() 
    df4.drop_duplicates(keep='last') # drop dup keep last or first
    df4.drop_duplicates(subset=['number','name']) # drop if 2 cols have row the same value

# 8. interpolate()
    df2.interpolate()

## CONNECT DATA

In [ ]:
# 1. pd.concat

    df_new2 = pd.concat([df3, df4], axis=1, join='inner')
    df_new2
    # ---- note
    # axis=1: row
    # join='inner' - > defalt : outer
    # sort = True - > a->b, FalseL no sort
    df_new2b = pd.concat([df3, df4], axis=1, join='outer', sort=True)
    df_new2b

# 2. pd.append

    df_new1 = df1.append(df2, sort=False, ignore_index=True)
    df_new1
    # ignore_index=True : del index

# 3. pd.merge

    # Ket nham dong do ket dua theo index
    df_new2 = pd.concat([df3, df4], axis=1, join='inner')
    df_new2
    
    # > connect data by merge corretly
    df_new2 = pd.merge(df3, df4, left_on='ma', right_on='maso')
    df_new2
    df_new2b = pd.merge(df3, df4, left_index=True, right_index=True)
    df_new2b

    # how{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’
    # left: use only keys from left frame, similar to a SQL left outer join; preserve key order.

    # right: use only keys from right frame, similar to a SQL right outer join; preserve key order.

    # outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.

    # inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.

    # cross: creates the cartesian product from both frames, preserves the order of the left keys.

## CONVERT DATA

In [ ]:
df['parsed_time'] = pd.to_datetime(df['timestamp'], unit='s')

## CONNECT DATABASE

In [ ]:
# python and sql
df = pd.read_sql('%script sql', conn)
---write many files excel 
writer = pd.ExcelWriter('..../filename.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='...', index=False)
writer.save()
df.to_excel('link/filename.xlsx') --export excel use power query
df.to_sql('tablename', con=connection, if_exists='append')
if_exists{‘fail’, ‘replace’, ‘append’}, default ‘fail’
How to behave if the table already exists.
fail: Raise a ValueError.

replace: Drop the table before inserting new values.

append: Insert new values to the existing table.
import datetime as dt
print('done table at: {}'.format(dt.datetime.now()))
---write many files excel
from pathlib import Path  
filepath = Path('folder/subfolder/out.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)

-- zip
compression_opts = dict(method='zip',
                        archive_name='out.csv')  
df.to_csv('out.zip', index=False,
          compression=compression_opts)  
# c1:
result = %sql select * from ...
df = pd.DataFrame(result)
# c2:
df= pd.read_sql('select * from ...', conn)

Note query sql : """ """,''' ''', ''